{{>header}}
{{>navbar}}
<section class="container my-4">
    <h1>Deposit</h1>
    <div class="mb-3">
        <a href="/" class="btn btn-primary">Back to All Customers Page</a>
    </div>
    <form id= "transaction" method="post">
        <div class="btn-3">
            <label>Amount</label>
            <input name="amount" class="form-control" type="number">
        </div>
        <div class="btn-3">
            <button class="btn btn-primary">Confirm</button>
        </div>
    </form>
</section>
{{>footer}}

